.container-header {
    height: 110px;
    background-color: #7bdcb5;
    width: 100%;
    .bg-body-tertiary {
        background-color: #7bdcb5 !important;
    }
    align-items: center;
    display: flex;
    justify-content: start;
    .items-menu {
        color: white;
        font-weight: 700;
    }
}
